body   
{  
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color : #5858FA;
	font-family: Arial, Helvetica, sans-serif;
}
/*-----------------------------*/
#izquierda
{
	position:relative;
	float: left;
	width: 25%;
	height: 100%;
	background-color: #5858FA;
}
#derecha
{
	position: relative;
	float:left;
	width: 75%;
	height: 100%;
	background-color: #fff;
}		
/*--------   contenido  -------*/
#contenedor
{
	position: relative;
	width: 650px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}


