{% extends "base.html" %}
{%   load   staticfiles   %}  

{% block elcss %}
<link   rel="stylesheet"   type="text/css"   href="{%   static  'principal/css/index.css'   %}"   />
{% endblock %}
<!-- esquerda -->>
{% block esquerda %}
	<div id="titulos">
		<p class="titulo_grande"> indice </p>	
		<p class="titulo_pequeno">jroca72</p>
	</div>
{% endblock %}
<!---  contenifo -->
{% block content %}
{% if los_libros %}
	<center><h1> La lista </h1></center>
	{% for libros in los_libros %}
		<div id="ventana_libro">
			<div id="ventana_detalle">
			<p class="texto_titulo">{{ libros.titulo }}</p>
			<spam>{{ libros.autor }}</spam>
			<spam>({{ libros.fecha | date:"d/m/Y" }})</spam>
			<spam> --	{{ libros.puntuacion }} puntos </spam>
			</div>	
		</div>	
	{% endfor %}
{% else %}
	<p>no hay libros</p>
{% endif %}			
{% endblock %}
